# Copy this file to create an .env file
# If you add any new environment variables add them to this file (without including any secrets!)
# Remember to also add them in next.config.js so they are available to the app while running

# AZURE_AD_B2C settings are required for authentication using Azure B2C
AZURE_AD_B2C_CLIENT_ID=c26fc8d2-6f95-4095-be6c-8045af863985
AZURE_AD_B2C_TENANT_NAME=t3am319
AZURE_AD_B2C_PRIMARY_USER_FLOW=B2C_1_SISOPolicy
AZURE_AD_B2C_PROFILE_EDIT=B2C_1_ProfileEditPolicy

# DB settings describe the config for the mssql connection
DB_USER=sa
DB_PASSWORD=DB_PASSWORD
DB_SERVER=locahost
DB_NAME=default