:root {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

div {
  height: max-content;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
  background-color: #fff;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

button {
  border-radius: 60px;
}

.menu-button {
  border-radius: 6px;
  height: 27px;
  width: 80%;
}

.bottom-buttons-parent {
  /* position: relative; */
  height: 15%;
}

.colour-button {
  width: 10px;
}

.MuiButton-contained {
  border-radius: 0 !important;
}

.yearParent {
  display: grid;
  grid-template-columns: 1fr;
}

.yearParent div {
  grid-row-start: 1;
  grid-column-start: 1;
}

.symbols {
  height: 20px;
  max-height: 20px;
  min-height: 20px;
  margin-left: -8px;
  margin-top: -3px;
}

.MuiGrid2-root {
  color: rgba(185, 185, 185, 0.63);
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
