:root {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

div {
  height: max-content;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
  background-color: #fff;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.MuiButton-root {
  border-radius: 60px;
}

.menu-button {
  border-radius: 6px;
  height: 27px;
  width: 80%;
}
.bottom-buttons-parent {
  /* position: relative; */
  height: 15%;
}
.bottom-buttons {
  position: absolute;
  margin: auto;
  bottom: 0;
  width: 100%;
  height: 13%;
}
.bottom-buttons-cat {
  position: absolute;
  margin: auto;
  bottom: 0;
  width: 100%;
  height: 26%;
}

.colour-button {
  width: 10px;
}
.MuiButton-contained {
  border-radius: 0 !important;
}

.yearParent {
  display: grid;
  grid-template-columns: 1fr;
}
.yearParent div {
  grid-row-start: 1;
  grid-column-start: 1;

}
.symbols {
  height: 20px;
  max-height: 20px;
  min-height: 20px;
  margin-left: -8px;
  margin-top: -3px;
}

.MuiGrid2-root {
  color: #b9b9b9;

}
