:root {

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

div {
  height: max-content;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: max-content;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
