name: Sync Github Repos

on:
  push:
    branches:
      - main
      - development
  pull_request:
    branches:
      - development
    types: [opened, synchronize, reopened, closed]
  
jobs:
  sync_repos:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    name: Sync Github Repos
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}
          token: ${{ secrets.GIT_PAT }}
      - run: git remote add alternate https://github.com/CPSC319-2022/T3am.git
      - run: git push alternate ${{ github.head_ref }}